Repository AstakhovV/Voice-helper: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, stylelint, eslint

lefthook.yml:

---
pre-commit:
  parallel: false
  commands:
    prettier:
      run: npx prettier --check {staged_files}
      glob: "src/*.{js,jsx,yml,yaml,ts,tsx,json}"
    stylelint:
      run: npx stylelint --fix {staged_files}
      glob: "src/*.{css,scss}"
    eslint:
      run: npx eslint --ext .ts,.tsx {staged_files}
      glob: "src/**/*.{ts,tsx}"

feat: fix pre-commit
  lefthook.yml
  src/components/molecules/Regonition.module.scss
Due: stylelint

feat: fix pre-commit
  src/components/molecules/Regonition.module.scss
Due: stylelint

feat: add layout
  .env
  package-lock.json
  package.json
  src/App.tsx
  src/components/atoms/Footer/Footer.tsx
  src/components/atoms/Navbar.tsx
  src/components/atoms/Navbar/Navbar.tsx
  src/components/atoms/Sidebar/SideBar.tsx
  src/components/molecules/Recognition/Recognition.tsx
  src/components/molecules/Recognition/Regonition.module.scss
  src/components/organisms/Main/Main.tsx
  src/components/pages/StartPage/StartPage.tsx
  src/components/templates/Layout.module.scss
  src/components/templates/Layout.tsx
  src/index.scss
Due: prettier, stylelint, eslint

feat: add routing, tailwind
  package-lock.json
  package.json
  public/index.html
  src/App.tsx
  src/components/atoms/Footer/Footer.tsx
  src/components/atoms/Navbar/Navbar.tsx
  src/components/atoms/Sidebar/SideBar.tsx
  src/components/pages/AllCommandsPage/AllCommandsPage.tsx
  src/components/pages/PolyethylenePage/PolyethylenePage.tsx
  src/components/pages/PowerStationPage/PowerStationPage.tsx
  src/components/pages/PowerStationPage/assets/schema.jpg
  src/components/pages/PyrolysisPage/PyrolysisPage.tsx
  src/components/templates/Layout.module.scss
  src/components/templates/Layout.tsx
  src/index.scss
  src/index.tsx
  tailwind.config.js
Due: prettier, stylelint, eslint

feat: add store
  package-lock.json
  package.json
  src/App.tsx
  src/application/usePower.tsx
  src/application/useRecognition.tsx
  src/components/atoms/Switchers/Switchers.module.scss
  src/components/atoms/Switchers/Switchers.tsx
  src/components/molecules/Recognition/Recognition.tsx
  src/components/organisms/StationControl/StationControl.tsx
  src/components/pages/PowerStationPage/PowerStationPage.tsx
  src/components/pages/PowerStationPage/assets/schema.jpg
  src/store/powerStation..ts
  src/types/common.ts
  src/utils/globalCommands.ts
  src/utils/stationlCommands.ts
Due: prettier, stylelint, eslint

feat: add imitation real measurement
  public/index.html
  src/application/usePower.tsx
  src/components/organisms/StationControl/StationControl.tsx
  src/store/powerStation..ts
  src/utils/useRealMeasurement.ts
Due: prettier, eslint

feat: finish logic
  README.old.md
  package-lock.json
  package.json
  src/App.tsx
  src/application/useRecognition.tsx
  src/components/atoms/ListCommands/ListCommands.tsx
  src/components/atoms/Sidebar/SideBar.tsx
  src/components/atoms/TableMeasurement/TableMeasurement.tsx
  src/components/molecules/Recognition/Recognition.tsx
  src/components/organisms/Main/Main.tsx
  src/components/organisms/StationControl/StationControl.tsx
  src/components/pages/AllCommandsPage/AllCommandsPage.tsx
  src/components/pages/HistoryPage/HistoryPage.tsx
  src/components/pages/PolyethylenePage/PolyethylenePage.tsx
  src/components/pages/PowerStationPage/PowerStationPage.tsx
  src/components/pages/PyrolysisPage/PyrolysisPage.tsx
  src/index.tsx
  src/store/history.ts
  src/store/notes.ts
  src/types/common.ts
  src/utils/globalCommands.ts
  src/utils/stationCommands.ts
Due: prettier, eslint

feat: add unit tests
  package-lock.json
  package.json
  src/components/atoms/ListCommands/ListCommands.spec.tsx
  src/components/atoms/ListCommands/ListCommands.tsx
  src/components/atoms/ListCommands/__snapshots__/ListCommands.spec.tsx.snap
  src/components/atoms/Navbar/Navbar.spec.tsx
  src/components/atoms/Navbar/Navbar.tsx
  src/components/atoms/Navbar/__snapshots__/Navbar.spec.tsx.snap
  src/components/atoms/Sidebar/SideBar.tsx
  src/components/atoms/TableMeasurement/TableMeasurement.spec.tsx
  src/components/atoms/TableMeasurement/TableMeasurement.tsx
  src/components/atoms/TableMeasurement/__snapshots__/TableMeasurement.spec.tsx.snap
  src/components/molecules/Recognition/Recognition.module.scss
  src/components/molecules/Recognition/Recognition.tsx
  src/components/molecules/Recognition/RecognitionItem.tsx
Due: prettier, stylelint, eslint

feat: add zustand store tests
  package-lock.json
  package.json
  src/store/notes.spec.ts
  src/store/notes.ts
  src/store/powerStation.spec.ts
Due: prettier, eslint
